############
## YOURLS
############

# Configuration
user/*
!user/config-sample.php
.htaccess
*.config
*.conf

# Languages
!user/languages/

# Core plugins
!user/plugins/hyphens-in-urls/
!user/plugins/sample-page/
!user/plugins/sample-plugin/

# Plugins
!user/plugins/

# ignore plugins cache
user/plugins/cache-stats-pages/cache/*.html

# Pages
pages/*
!pages/examplepage.php

# Keep index.html
!user/index.html
!user/*/index.html

############
## Tests
############

test*.php
tests/

############
## Environnement
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store

# NetBeans files
/nbproject/
